.sketchingGrid {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  width: 540px;
  height: 540px;
  background-color: black;
}

.cellClass {
  background-color: white;
  box-sizing: border-box;
  border: 1px solid black;
}
