* {
  font-family: "Raleway", monospace;
}

html {
  font-size: 18px;
}

body {
  background-color: #d9cfc7;
}

.sketchingGrid {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  width: 540px;
  height: 540px;
  background-color: #ad987f;
  cursor: pointer;
}

.mainSpace {
  background-color: #efe9e3;
  border-radius: 5px;
  padding: 1vh;
  color: #ad987f;
}

.topBar {
  text-align: center;
  margin: 2vh;
  padding-bottom: 3vh;
  font-size: 1.2rem;
}

#copyrightBar {
  display: flex;
  background-color: #ad987f;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
  margin-top: 1vh;
}

#copyrightBar p {
  color: #efe9e3;
  font-style: italic;
}

.buttonList {
  display: flex;
  justify-content: center;
  gap: 2vh;
}

.buttonList button {
  padding: 1vh;
  background-color: #f9f8f6;
  border-radius: 5px;
  border: 2px solid #d9cfc7;
  color: #c9b59c;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
  cursor: pointer;
}

.buttonList button:hover {
  background-color: #c9b59c;
  color: #f9f8f6;
}

.cellClass {
  background-color: white;
  box-sizing: border-box;
  border: 1px solid #c9b59c;
}
